<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Post</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

     
</head>
<body class="flex flex-col min-h-screen bg-gray-100 font-sans antialised ">

    <nav class="bg-gray-600 p-4 text-white flex justify-between">
    <div>

        <h1 class="text-3xl font-bold">AI Blog Generator</h1>
    </div>
    <div>
        <a href="#" class="text-white hover:underline"> LogOut</a>
    </div>
</nav>

<!--Main Content-->

<div class="container flex-grow p-4 mx-Auto mt-10 sm:px-0">
    <div class="bg-white mx-Auto p-4 rounded-lg ">
        <!--Blog Section-->
            
        <h2 class="mb-2 font-semibold text-lg ">All Blog Posts</h2>

        <section class="space-y-4 border border-gray-400  m-4 p-4 rounded-lg "> 
            <h2 class="mb-2 font-semibold text-lg ">Blog Post Title 1</h2>
            <p> This Shows your blog posts below. Ipsum Colla ninc djckdcsj dbckeuba djdsbkicae 
                dchdin jebwdinexmn dcihibec jcbuebnxd jcbcbeownddbc wocbwiucb ekwueblwikn ejcbnlqwix
            </p>

        </section>

        <section class="space-y-4 border border-gray-400  m-4 p-4 rounded-lg "> 
            <h2 class="mb-2 font-semibold text-lg ">Blog Post Title 2</h2>
            <p> This Shows your blog posts below. Ipsum Colla ninc djckdcsj dbckeuba djdsbkicae 
                dchdin jebwdinexmn dcihibec jcbuebnxd jcbcbeownddbc wocbwiucb ekwueblwikn ejcbnlqwix
            </p>

        </section>

    </div>

</div>
    
<footer class="text-center p-4 text-black-500 mt-6">
    Powered <a href="https://www.youtube.com/">By Code With Tomi </a>
</footer>
</body>
</html>