<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


</head>
<body class="flex flex-col min-h-screen bg-gray-100 font-sans antialised ">

    
       <nav class="bg-gray-600 p-4 text-white flex justify-between">
    <div>

        <h1 class="text-3xl font-bold">AI Blog Generator</h1>
    </div>
    <div>
        <a href="#" class="text-white hover:underline"> LogOut</a>
    </div>
</nav>


<!--Main Content-->
<div class="container  flex-grow p-4 mx-Auto mt-10 sm:px-0 ">
    <div class="bg-white mx-Auto p-4 rounded-lg mx-4 ">
        <section>
            <h2 class="font-semibold text-lg mb-4 p-4"> Blog Posts Details</h2>
            <div class="border border-gray-400 p-4 rounded-lg">
                <h3 class="text-2xl font-semibold">
                    Blog Section
                </h3>
                <p class="mt-2 text-gray-700 mb-2">This is the Blogs Content</p>
                <hr class="border-gray-400 my-4"/>
                <h4 class="text-gray-700 font-bold text-lg ">Youtube Title</h4>
                <p class="text-gray-700 mb-5">Title of Associated Youtube Video </p>
                <h4 class="font-bold text-lg text-gray-700">Youtube Link</h4>
                <a href="#" class="text-blue-400 hover:text-blue-700 hover:underline "> https://youtube.com/moses-ldn</a>
            </div>

        </section>

    </div>
</div>

<footer class="text-center p-4 text-black-500 mt-6">
    Powered <a href="https://www.youtube.com/">By Code With Tomi </a>
</footer>
</body>
</html>